---
kind: Secret
apiVersion: v1
metadata:
  name: postgres
  namespace: {{ pg_namespace }}
stringData:
  database_admin_user: {{ pg_user_fact }}
  database_admin_user_password: {{ pg_user_password_fact }}
  database_name: {{ pg_database_fact }}
  database_aux_user: {{  pg_aux_user_fact }}
  database_aux_user_password: {{  pg_aux_user_password_fact }}
  database_aux_database: {{  pg_aux_database_fact }}
